.App {
  text-align: center;
}

* {
  box-sizing: border-box !important;
  margin-top: 0%;
}

.main-card {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  height: 250px;
  padding-top: 70px;
  display: inline-block;
  width: 230px;
  border-radius: 10px;
  border: black 5px double;
  margin: 30px;
  margin-left: 9%;
  text-align: center;
  text-decoration: none;
  background-color: white !important;
  transition: transform 250ms;
}
.main-card > div{
  padding-bottom: 10px;
  margin-top: -10px;
  font-size: 40px;
}

.main-card > div :hover{
  transform: translateY(-4px);
}

.heading {
  text-align: center;
  cursor: pointer;
}

/* header */
.news-header {
  text-align: center;
  margin-top: 0px !important;
  padding: 6px !important;
  height: 70px;
  background-color: black;
}

/*Sub Header  */
.sub-header {
  background-color: hsl(218, 59%, 58%);
  color: white;
  margin-top: -25px !important;
  text-decoration: none !important;
  padding: 10px;
}
.nav-item > a {
  color: white;
  text-decoration: none !important;
  padding: 10px;
}
.nav-item > a :hover {
  color: black !important;
}


.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}
.button, button {
  background-color: white !important;
  color: black !important;
  border: black 2px solid !important;
  font-weight: 700 !important; 
}
button, .btn, .btn-link :hover{
  text-decoration: none !important;
}
.button:hover {
  background-color: black !important;
  color: white !important;
  font-weight: 700 !important;
  text-decoration: none !important;
}

.showNewsCard {
  border: 0px !important;
}

.headerr {
  background-color: rgb(0, 0, 0) !important;
  color: aliceblue;
}

.Card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  border: 0px;
  padding-left: 7%;
  padding-top: 5%;
}

a {
  padding-right: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* footer */
.main {
  max-height: 550px;
  background-color: #000000;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
}
footer {
  position: fixed;
  bottom: 0;
}
.footer-distributed {
  background-color: #020202;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 30px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
  line-height: 20px;
text-align: justify;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: hsl(218, 59%, 58%);
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
  line-height: 1.5;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 10px;
  margin-left: -15px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}

/* footer icons */

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube :hover {
  color: #ff1500;
}

a.facebook :hover {
  color: #224aa1;
}

a.twitter :hover {
  color: #49a1eb;
}

a.instagram :hover {
  color: rgb(235, 76, 76);
}

/* ShownewsHeading */

.solo-news{
  text-align: center;
  color: #e76161;
}

.make-center{
  text-align: center;
  text-decoration: none;
}

.accordion>.card>.card-header {
  border-radius: 0;
  margin-bottom: -1px;
  text-align: center;
}